<br>

<h1><b>Az iskola ételadatbázisa</b></h1>

<div class="box">
    <div class="row">
        <div class="col">

          <button class="center-button" mat-flat-button (click)="onButtonClick()" color="primary" >Új Étel Hozzáadása</button>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Étel</th>
                <th scope="col">Összetevők</th>
                <th scope="col">Allergének</th>
                <th scope="col">Napszak</th>
                <th scope="col">Dátum</th>
                <th scope="col">Ár</th>
                <th scope="col">Módosítás</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allItems" class="bottom-border">
                <th>{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.foods}}</td>
                <td>{{item.allergens}}</td>
                <td>{{item.occasion}}</td>
                <td>{{item.date | date}}</td>
                <td>{{item.cost}}</td>
                <td><button (click)="editItem(item)" mat-flat-button type="submit" color="primary">Módosítás</button></td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
