<br>

<h1><b>Új étel hozzáadása</b></h1>

<form #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.resetForm()" #addForm="ngForm">
    
    <mat-form-field>
        <input matInput
            placeholder="Új étel neve"
            type="string" 
            id="input_foodname" 
            required
            [(ngModel)]="input_foodname" name="input_foodname">
    <mat-error *ngIf="!input_foodname">Kötelező érték</mat-error>
    </mat-form-field>
    
    <br>

    <mat-form-field>
        <input matInput
            placeholder="Új étel összetevői"
            type="string" 
            id="input_ingredients" 
            required
            [(ngModel)]="input_ingredients" name="input_ingredients">
    <mat-error *ngIf="!input_ingredients">Kötelező érték</mat-error>
    </mat-form-field>
    <p style="font-size: 10px;" class="left-align" >Kérjük az összetevőket pontosan, vesszővel elválasztva adja meg!</p>

    <br>

    <mat-form-field>
        <mat-label>Allergének</mat-label>
        <mat-select [formControl]="allergens" multiple>
          <mat-option *ngFor="let allergen of allergensList" [value]="allergen">{{allergen}}</mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    
    <mat-form-field>
        <input matInput
            placeholder="Új étel ára"
            type="number" 
            id="input_cost" 
            required
            [(ngModel)]="input_cost" name="input_cost">
    <mat-error *ngIf="!input_cost">Kötelező érték</mat-error>
    </mat-form-field>
    
    <br>

    <mat-form-field>
        <mat-label>Napszak</mat-label>
        <mat-select [(ngModel)]="input_occasion" name="occasion">
            <mat-option *ngFor="let occasion of occasions" [value]="occasion.value">
            {{occasion.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
        <mat-label>Dátum</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="input_date" name="input_date">
        <mat-hint>HH/NN/ÉÉÉÉ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-flat-button type="submit" id="submit" value="submit" color="primary">Új Étel Hozzáadása</button>

</form>